apiVersion: v1
kind: Service
metadata:
  name: core-server
  namespace: enxame
  labels:
    app.kubernetes.io/name: core-server
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: 50051
      targetPort: grpc
      protocol: TCP
  selector:
    app.kubernetes.io/name: core-server
