apiVersion: v1
kind: Service
metadata:
  name: relay
  namespace: enxame
  labels:
    app.kubernetes.io/name: relay
spec:
  type: ClusterIP
  ports:
    - name: grpc
      port: 50052
      targetPort: grpc
      protocol: TCP
  selector:
    app.kubernetes.io/name: relay
